{% macro handleFormArray(arr) %}
    {% import 'macros/forms.twig' as forms %}

    {% if arr.getMode() == 'table' %}
        <table class="form-array {{ arr.getTableClasses() }}" id="{{ arr.getTableId() }}">
            <thead>
                <tr>
                    {% set widths = arr.getWidths() %}
                    {% for i, head in arr.getHeaders() %}
                        <th class="{{ widths[i] }}">{{ head|raw }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index in range(0, arr.getIndex()) %}
                    {% if arr.getFields()[index] %}
                        {% set fields = arr.getFields()[index] %}
                        <tr class="{{ arr.getRowClass(index) }}">
                            {% for field in fields %}
                                <td class="{{ field.getColWidth() }}">
                                    {{  forms.completeField(field) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% if arr.getExtras()[index] %}
                        {% set extra = arr.getExtras()[index] %}
                        {% if extra == 'HR' %}
                            <tr>
                                <td colspan="{{ arr.getHeaders()|length }}"><hr></td>
                            </tr>
                        {% endif %}
                        {% if extra == 'BREAK' %}
                            <tr>
                                <td colspan="{{ arr.getHeaders()|length }}">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if extra == 'HEADERS' %}
                            <tr>
                                {% for i, head in arr.getHeaders() %}
                                    <th class="{{ widths[i] }}">{{ head|raw }}</th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
            {% if arr.getFootFields()|length > 0 %}
                <tfoot>
                    <tr>
                        {% for field in arr.getFootFields() %}
                            <td class="{{ field.getColWidth() }}">
                                {{  forms.completeField(field) }}
                            </td>
                        {% endfor %}
                    </tr>
                </tfoot>
            {% endif %}
        </table>

    {% else %}
        {% for index in range(0, arr.getIndex()) %}
            {% if arr.getFields()[index] %}
                {% set fields = arr.getFields()[index] %}
                <div class="row {{ arr.getRowClass(index) }}">
                    {% for field in fields %}
                        <div class="{{ field.getColWidth()?field.getColWidth():'col-sm-12' }}">
                            {{  forms.completeField(field) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if arr.getExtras()[index] %}
                {% set extra = arr.getExtras()[index] %}
                {% if extra == 'HR' %}
                    <hr>
                {% endif %}
                {% if extra == 'BREAK' %}
                    <br>
                {% endif %}
                {% if extra == 'HEADERS' %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if arr.getFootFields()|length > 0 %}
            <div class="row">
                {% for field in arr.getFootFields() %}
                    <div class="{{ field.getColWidth()?field.getColWidth():'col-sm-12' }}">
                        {{  forms.completeField(field) }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
    {% endif %}

    {% if arr.getErrors()|length > 0 %}
        {% for msg in arr.getErrors() %}
            <div class="alert alert-danger">{{ msg|raw }}</div>
        {% endfor %}
    {% endif %}

{% endmacro %}
