{% macro render(field) %}
    <div>
        <input type="checkbox"
               name="{{ field.name }}"
               id="{{ field.id }}"
               value="1"
               autocomplete="off"
               {{ (field.value ? 'checked="checked"' : '') }}
               {{ field.getDataAttributeString()|raw }}
               class="{{ field.class }}"
               {{ (field.labelledBy!= '' ? 'aria-labelledby="' ~ field.labelledBy ~ '"')|raw }}
        >
    </div>
    {% if field.getScript() is not empty %}
        <script type="text/javascript">{{ field.getScript()|raw }}</script>
    {% endif %}
{% endmacro %}
