{% macro render(field, multi) %}
    <fieldset>
        {% if field.label is not null %}
            <legend style="display: inline; font-size: inherit; font-weight: bold; border: 0; width: auto; margin: 0 0 5px 0;">
                {{ field.label|raw }}
                {% if field.helpText is not null %}
                    <span class="FC_help_text tool_badge text-info" title="{{ field.helpText }}">
                        <i class="fa fa-fw fa-question-circle"></i>
                    </span>
                {% endif %}
            </legend>
        {% endif %}
        <div class="input-group">
        <span class="input-group-btn">
            <label for="{{ field.id }}" tabindex="0" class="btn btn-primary" role="button" id="{{ field.id }}_btn">
                {% if field.label != '' %}
                    <span class="sr-only">{{ field.label }}</span>
                {% endif %}
                Browse... <input type="file" name="{{ field.name }}" class="hide {{ field.class }}" id="{{ field.id }}" {{ multi ? 'multiple' : '' }}>
            </label>
        </span>
            <label class="sr-only" for="{{ field.id }}_path">File Path</label>
            <input id="{{ field.id }}_path" type="text" class="form-control" readonly {{ field.getDataAttributeString()|raw }}>
        </div>
    </fieldset>

    {% if field.errors|length>0 %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}

    <script type="text/javascript">
        $(function () {
            //making these keyboard accessible
            $('#{{ field.id }}_btn').on('keypress', function(e){
                if (e.keyCode === 13 || e.keyCode === 32) {
                    $('#{{ field.id }}').click();
                }
            });
            $('#{{ field.id }}').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text'), log = numFiles > 1 ? numFiles + ' files selected' : label;
                if (input.length) {
                    input.val(log);
                }
            });
        });
    </script>
    {% if field.getScript() is not empty %}
        <script type="text/javascript">{{ field.getScript()|raw }}</script>
    {% endif %}
{% endmacro %}
