{% macro render(field) %}
    {% set step = field.getStep() %}
    {% set min = field.getMin() %}
    {% set max = field.getMax() %}

    <input
            title="{{ field.label }}"
            placeholder="{{ field.placeholder }}"
            name="{{ field.name }}"
            id="{{ field.id }}"
            class="form-control {{ field.class }}"
            maxlength="{{ field.maxLength }}"
            type="number"
            step="{{ step is null ? 'any' : step }}"
            {% if min is not null  %} min="{{ min }}"{% endif %}
            {% if max is not null  %} max="{{ max }}"{% endif %}
            value="{{ field.value }}"
            {{ (field.labelledBy!= '' ? 'aria-labelledby="' ~ field.labelledBy ~ '"')|raw }}
            {{ field.getDataAttributeString()|raw }}
    >

    {% if field.errors|length>0 %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
    {% if field.getScript() is not empty %}
        <script type="text/javascript">{{ field.getScript()|raw }}</script>
    {% endif %}
{% endmacro %}