{% macro render(field) %}
    <div class="input-group">
        <input type="password"
               name="{{ field.name }}"
               id="{{ field.id }}-input"
               value="" class="form-control {{ field.class }}"
               placeholder="{{ field.getPlaceholder()|default('') }}"
               {{ (field.labelledBy!= '' ? 'aria-labelledby="' ~ field.labelledBy ~ '"')|raw }}
        >
        <span class="input-group-addon">Score: <span id="{{ field.id }}-score">0</span>/4</span>
    </div>
    <div class="progress">
        <div class="progress-bar" id="{{ field.id }}-bar" role="progressbar" style="width: 0;"></div>
    </div>
    <div id="{{ field.id }}-feedback"></div>
    <script type="text/javascript">
        $("#{{ field.id }}-input").keyup(function(){
            var pass = $(this).val();
            var result  = zxcvbn(pass);
            var score   = result.score;
            var percent = (20 * score) + 20;
            var $bar = $("#{{ field.id }}-bar");
            var $score = $("#{{ field.id }}-score");
            var $feedback = $("#{{ field.id }}-feedback");
            $score.html(score);
            $feedback.html('');
            $bar.css('width',percent+'%');
            $bar.removeClass().addClass('progress-bar');
            if(score < 2) {
                $bar.addClass('progress-bar-danger');
            }
            if(score == 2) {
                $bar.addClass('progress-bar-warning');
            }
            if(score == 3) {
                $bar.addClass('progress-bar-info');
            }
            if(score == 4) {
                $bar.addClass('progress-bar-success');
            }

            if(result.feedback.warning != '') {
                $feedback.append('<div class="alert alert-danger">' + result.feedback.warning + '</div>');
            }
            if(result.feedback.suggestions.length > 0) {
                $feedback.append('<ul>');
                var arrayLength = result.feedback.suggestions.length;
                for (var i = 0; i < arrayLength; i++) {
                    $feedback.append('<li>' + result.feedback.suggestions[i] + '</li>');
                }
                $feedback.append('</ul>');
            }



        });
    </script>

    {% if field.errors|length>0 %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
{% endmacro %}