{% macro render(field) %}
    <fieldset>
        {% if field.label is not null %}
            <legend {{ (field.isSuppressLabel() ? 'class="sr-only"') }}>
                {{ field.label|raw }}
                {% if field.helpText is not null %}
                    <span class="FC_help_text tool_badge text-info" title="{{ field.helpText }}">
                        <i class="fa fa-fw fa-question-circle"></i>
                    </span>
                {% endif %}
            </legend>
        {% endif %}

        <table class="table" id="{{ field.id }}">
            <tbody>
                <tr>
                    {% for i in range(1,7) %}
                        <td style="text-align: center">
                            <input type="radio" name="{{ field.name }}" value="{{ i }}" {{ (field.value == i ? 'checked="checked"' : '') }} class="{{ field.class }}" id="{{ field.id }}_{{ i }}" {{ field.dataString|raw }} {{ field.getDataAttributeString()|raw }}>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </fieldset>
    {% if field.getScript() is not empty %}
        <script type="text/javascript">{{ field.getScript()|raw }}</script>
    {% endif %}
{% endmacro %}
