{% macro render(field) %}
    <fieldset>
        {% if field.label is not null %}
            <legend {{ (field.isSuppressLabel() ? 'class="sr-only"') }}>
                {{ field.label|raw }}
                {% if field.helpText is not null %}
                    <span class="FC_help_text tool_badge text-info" title="{{ field.helpText }}">
                        <i class="fa fa-fw fa-question-circle"></i>
                    </span>
                {% endif %}
            </legend>
            {% if field.getUnderLabelHtml() %}
                <div class="FC_under_label_html">
                    {{ field.getUnderLabelHtml()|raw }}
                </div>
            {% endif %}
        {% endif %}

        <div class="btn-group" data-toggle="buttons" id="{{ field.id }}">
            <label class="btn btn-default yes {{ (field.value==1 ? 'active' : '') }}">
                <input type="radio" class="{{ field.class }}" name="{{ field.name }}" value="1" autocomplete="off" {{ (field.value==1 ? 'checked="checked"' : '') }} {{ field.getDataAttributeString()|raw }}> Yes
            </label>
            <label class="btn btn-default no {{ (field.value==0 ? 'active' : '') }}">
                <input type="radio" class="{{ field.class }}" name="{{ field.name }}" value="0" autocomplete="off" {{ (field.value==0 ? 'checked="checked"' : '') }} {{ field.getDataAttributeString()|raw }}>  No
            </label>
        </div>
    </fieldset>
    {% if field.getScript() is not empty %}
        <script type="text/javascript">{{ field.getScript()|raw }}</script>
    {% endif %}
{% endmacro %}