{% import _self as fcc %}
{% set FC_CONTROLLER = true %}
<div class="row">
    {% if forms|length > 1 %}
        <div class="col-md-3">
            <div class="panel panel-sitespecific">
                <div class="panel-heading">
                    <div class="panel-title">Navigation</div>
                </div>
                <div class="panel-body">
                    {% for key, value in forms %}
                        {% if value is FC_isFormElement() %}
                            {{ fcc.doFormElement(value, route, activeForm) }}
                        {% else %}
                            <a href="{{ route }}/{{ key }}"
                               id="FC_NAV_BTN_{{ key }}"
                               class="btn btn-left btn-{{ activeForm==key?'primary':'default' }} btn-block"
                                    {{ activeForm==key?'aria-describedby="form_controller_described_by"':'' }}
                            >{{ value|raw }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="form_controller_described_by" style="display:none">Current Form</div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-{{ (forms|length > 1) ? '9' : '12' }}">
        {% if not twigOverrides.replace %}
            {% include '@form_config_BS3/forms/controller_block.twig' %}
        {% else %}
            {% if includePath %}
                {% include includePath|replace({'REPLACE':'BS3'}) %}
            {% else %}
                <div class="alert alert-danger">includePath not defined!</div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if FC_Config.getTwigAppend() %}
    {% include FC_Config.getTwigAppend() %}
{% endif %}
{% if FC_Config.getHtmlAppend() %}
    {{ FC_Config.getHtmlAppend()|raw }}
{% endif %}

{% macro doFormElement(element, route, activeForm) %}
    {% if element.getFormType() == 1 %}
        {% if element.getFormUrl() != '' %}
            {% set url = element.getFormUrl() %}
        {% else %}
            {% set url = route ~ '/' ~ element.getFormKey() %}
        {% endif %}
        <a href="{{ url }}"
           id="FC_NAV_BTN_{{ key }}"
           class="btn btn-left btn-{{ activeForm==key?'primary':'default' }} btn-block"
           {{ activeForm==key?'aria-describedby="form_controller_described_by"':'' }}
        >{{ element.getFormName()|raw }}</a>
    {% else if element.getFormType() == 2 %}
        <div class="FC_DIV_BREAK"></div>
    {% else if element.getFormType() == 3 %}
        <hr class="FC_HR_BREAK">
    {% else if element.getFormType() == 4 %}
        <div class="FC_HTML_BREAK">{{ element.getFormName()|raw }}</div>
    {% endif %}
{% endmacro %}