{% import _self as fcc %}
{% set FC_CONTROLLER = true %}

{% for k, hook in FC_Config.getHooks() %}
    {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_MAIN_PRE') %}
        {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
            {{ hook.getData()|raw }}
        {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
            {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
            {% include file %}
        {% endif %}
        {% do FC_Config.removeHook(k) %}
    {% endif %}
{% endfor %}

<div class="row">
    {% if FC_Config.getRenderArg('formArray')|length > 1 %}
        <div class="col-md-3">
            <div class="panel panel-sitespecific">
                <div class="panel-heading">
                    <{{ FC_Config.getNavigationTag() }} class="panel-title{{ FC_Config.getNavigationRight() ? ' pull-left' : '' }}">
                        {{ FC_Config.getNavigationTitle()|raw }}
                    </{{ FC_Config.getNavigationTag() }}>
                    {% if FC_Config.getNavigationRight() %}
                        <div class="panel-title pull-right">{{ FC_Config.getNavigationRight()|raw }}</div>
                        <div class="clearfix"></div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    {% for key, value in FC_Config.getRenderArg('formArray') %}
                        {% if value is FC_isFormElement() %}
                            {{ fcc.doFormElement(value, FC_Config.getRenderArg('urlBase'), FC_Config.getRenderArg('formCurrent')) }}
                        {% elseif value is FC_isComplexElement() %}
                            {{ value.render(FC_Config.getRenderArg('formCurrent')==key)|raw }}
                        {% else %}
                            <a href="{{ FC_Config.getRenderArg('urlBase') }}/{{ key }}"
                               id="FC_NAV_BTN_{{ key }}"
                               class="btn btn-left btn-{{ FC_Config.getRenderArg('formCurrent')==key?'primary':'default' }} btn-block"
                                    {{ FC_Config.getRenderArg('formCurrent')==key?'aria-describedby="form_controller_described_by"':'' }}
                            >{{ value|raw }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="form_controller_described_by" style="display:none">Current Form</div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-{{ (forms|length > 1) ? '9' : '12' }}">
        {% if not twigOverrides.replace %}
            {% include '@form_config_BS3/forms/controller_block.twig' %}
        {% else %}
            {% if includePath %}
                {% set file = includePath|replace({'REPLACE':'BS3'}) %}
                {% include file %}
            {% else %}
                <div class="alert alert-danger">includePath not defined!</div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% for k, hook in FC_Config.getHooks() %}
    {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_MAIN_POST') %}
        {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
            {{ hook.getData()|raw }}
        {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
            {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
            {% include file %}
        {% endif %}
        {% do FC_Config.removeHook(k) %}
    {% endif %}
{% endfor %}



{% macro doFormElement(element, route, activeForm) %}
    {% set key = element.getFormKey() %}

    {% if element.getFormType() == 1 %}
        {% if element.getFormUrl() != '' %}
            {% set url = element.getFormUrl() %}
        {% else %}
            {% set url = route ~ '/' ~ element.getFormKey() %}
        {% endif %}

        <a href="{{ url }}"
           id="FC_NAV_BTN_{{ key }}"
           class="btn btn-left btn-{{ activeForm==key?'primary':'default' }} btn-block"
           {{ activeForm==key?'aria-describedby="form_controller_described_by"':'' }}
        >{{ element.getFormName()|raw }}</a>
    {% elseif element.getFormType() == 2 %}
        <div class="FC_DIV_BREAK"></div>
    {% elseif element.getFormType() == 3 %}
        <hr class="FC_HR_BREAK">
    {% elseif element.getFormType() == 4 %}
        <div class="FC_HTML_BREAK">{{ element.getFormName()|raw }}</div>
    {% elseif element.getFormType() == 5 %}
        <a href="{{ element.getFormUrl() }}"
           id="FC_NAV_BTN_{{ key }}"
           class="btn btn-left btn-default btn-block"
           >
            <span class="pull-left">{{ element.getFormName()|raw }}</span>
            <span class="pull-right">
                <i class="fas fa-fw fa-external-link-alt"></i>
            </span>
            <span class="clearfix"></span>
        </a>
    {% endif %}
{% endmacro %}