{% for k, hook in FC_Config.getHooks() %}
    {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_BLOCK_PRE') %}
        {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
            {{ hook.getData()|raw }}
        {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
            {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
            {% include file %}
        {% endif %}
        {% do FC_Config.removeHook(k) %}
    {% endif %}
{% endfor %}

<form
        action="{{ FC_Config.getRenderArg('urlCurrent') }}"
        method="{{ FC_Config.getMethod() }}"
        id="{{ FC_Config.getFormId() }}"
        {% if FC_Config.getMethod() != 'GET' %} enctype="multipart/form-data"{% endif %}
>
    {% if FC_Config.isWrapped() %}
    <div class="panel panel-{{ twigOverrides.panelClass|default('sitespecific') }}">
        <div class="panel-heading">
            <{{ FC_Config.getNavigationTag() }} class="panel-title">
                {{ FC_Config.getRenderForms()[FC_Config.getRenderForm()]|raw }}
            </{{ FC_Config.getNavigationTag() }}>
        </div>
        {% if FC_Config.getRequiredIndicator() == 1 %}
            {% if FC_Config.hasRequired() %}
                <div class="text-right FC_global_required_text">
                    <span>* = required</span>
                </div>
            {% endif %}
        {% endif %}
        <div class="panel-body">
    {% endif %}
            {% if FC_Config.getUnattributedErrors()|length > 0 %}
                <div class="alert alert-warning">
                    {% for k, v in FC_Config.getUnattributedErrors() %}
                        <b>{{ k }}</b>: {{ v }}<br>
                    {% endfor %}
                </div>
            {% endif %}

            {% for k, hook in FC_Config.getHooks() %}
                {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_FIELDS_PRE') %}
                    {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
                        {{ hook.getData()|raw }}
                    {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
                        {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
                        {% include file %}
                    {% endif %}
                    {% do FC_Config.removeHook(k) %}
                {% endif %}
            {% endfor %}

            {% if form is defined and form != '' %}
                {% set file = form|replace({'REPLACE':'BS3'}) %}
                {% include file %}
            {% else %}
                {% import '@form_config_BS3/macros/simple_form.twig' as simpleForm %}
                {{ simpleForm.render(FC_Config) }}
            {% endif %}

            {% for k, hook in FC_Config.getHooks() %}
                {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_FIELDS_POST') %}
                    {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
                        {{ hook.getData()|raw }}
                    {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
                        {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
                        {% include file %}
                    {% endif %}
                    {% do FC_Config.removeHook(k) %}
                {% endif %}
            {% endfor %}

    {% if FC_Config.isWrapped() %}
        </div>
        {% if twigOverrides.submitButton is not defined %}
            <div class="panel-footer">
                <input type="submit" class="btn btn-success" value="Save" id="FC_SAVE_BTN">
            </div>
        {% else %}
            {% if twigOverrides.submitButton != '' %}
                <div class="panel-footer">
                    {{ twigOverrides.submitButton|raw }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    {% if FC_Config.getCSRFTokenName() != null %}
        {% set csrf_token_name = FC_Config.getCSRFTokenName() %}
        {% if not FC_Config.getField(csrf_token_name).isUsed() %}
            {% import '@form_config_BS3/macros/forms.twig' as form %}
            {{ form.completeField(FC_Config.getField(csrf_token_name)) }}
        {% endif %}
    {% endif %}
</form>

{% if holdOn %}
    <script type="text/javascript">
        $(function(){
            var FC_HOTrip = false;
            $("#{{ formId }}:not(.FC_BOUND)").on('submit.FC',function(){
                if(!FC_HOTrip) {
                    HoldOn.open({{ FC_getConfig().general.holdOnOptions }});
                    FC_HOTrip = true;
                }
            });
        });
    </script>
{% endif %}


{% for k, hook in FC_Config.getHooks() %}
    {% if hook.getType() == constant('GCWorld\\FormConfig\\Core\\FCHook::TYPE_BLOCK_POST') %}
        {% if hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_HTML') %}
            {{ hook.getData()|raw }}
        {% elseif hook.getMethod() ==  constant('GCWorld\\FormConfig\\Core\\FCHook::METHOD_INCLUDE') %}
            {% set file = hook.getData()|replace({'REPLACE':'BS3'}) %}
            {% include file %}
        {% endif %}
        {% do FC_Config.removeHook(k) %}
    {% endif %}
{% endfor %}


{% if FC_Config.doDebug() %}
    <div class="panel panel-info panel-sm">
        <div class="panel-heading">
            <div class="panel-title">Form Debug Info</div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Label</th>
                        <th>Used</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in FC_Config.getFormFields() %}
                        <tr>
                            <td>{{ item.getID() }}</td>
                            <td>{{ item.getName() }}</td>
                            <td>{{ item.getLabel() }}</td>
                            <td>{{ item.isUsed() ? 'Yes' : 'No' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}