<a href="{{ object.getUrl() }}"
   id="FC_NAV_BTN_{{ object.getKey() }}"
   class="btn btn-left btn-{{ active?'primary':'default' }} btn-block {{ object.getHover ? 'tool_html':'' }}"
        {{ active?'aria-describedby="form_controller_described_by"':'' }}
>
    <span class="pull-left">{{ object.getTitle()|raw }}</span>
    {% if object.getRight() %}
        <span class="pull-right">{{ object.getRight()|raw }}</span>
    {% endif %}
    <span class="clearfix"></span>
</a>
{% if object.getHover() %}<div style="display: none">{{ object.getHover()|raw }}</div>{% endif %}
