<form action="{{ formUrl }}" method="post" id="{{ formId }}" enctype="multipart/form-data">
    <div class="panel panel-{{ twigOverrides.panelClass|default('sitespecific') }}">
        <div class="panel-heading">
            <h4 class="panel-title">{{ forms[activeForm]|raw }}</h4>
        </div>
        <div class="panel-body">
            {% if form is defined and form != '' %}
                {% include form %}
            {% else %}
                {% import '@form_config/macros/simple_form.twig' as simpleForm %}
                {{ simpleForm.render(_context) }}
            {% endif %}
        </div>
        <div class="panel-footer">
            {% if twigOverrides.submitButton is not defined %}
                <input type="submit" class="btn btn-success" value="Save" id="FC_SAVE_BTN">
            {% else %}
                {{ twigOverrides.submitButton|raw }}
            {% endif %}
        </div>
    </div>
</form>
{% if holdOn %}
    <script type="text/javascript">
        $(function(){
            var FC_HOTrip = false;
            $("#{{ formId }}").submit(function(){
                if(!FC_HOTrip) {
                    HoldOn.open({{ FC_getConfig().general.holdOnOptions }});
                    FC_HOTrip = true;
                }
            });
            $("#FC_SAVE_BTN").click(function(){
                if(!FC_HOTrip) {
                    HoldOn.open({{ FC_getConfig().general.holdOnOptions }});
                    FC_HOTrip = true;
                }
            });
        });
    </script>
{% endif %}