<div class="row">
    {% if forms|length > 1 %}
        <div class="col-md-3">
            <div class="panel panel-sitespecific">
                <div class="panel-heading">
                    <h4 class="panel-title">Navigation</h4>
                </div>
                <div class="panel-body">
                    {% for key,value in forms %}
                        <a href="{{ route }}/{{ key }}"
                           id="FC_NAV_BTN_{{ key }}"
                           class="btn btn-left btn-{{ activeForm==key?'primary':'default' }} btn-block"
                                {{ activeForm==key?'aria-describedby="form_controller_described_by"':'' }}
                        >{{ value|raw }}</a>
                    {% endfor %}
                </div>
                <div id="form_controller_described_by" style="display:none">Current Form</div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-{{ (forms|length > 1) ? '9' : '12' }}">
        {% if not twigOverrides.replace %}
            {% include '@form_config/forms/controller_block.twig' %}
        {% else %}
            {% if includePath %}
                {% include includePath %}
            {% else %}
                <div class="alert alert-danger">includePath not defined!</div>
            {% endif %}
        {% endif %}
    </div>
</div>
