{% macro render(field) %}
    <div style="z-index:0">
        <input type="text" name="{{ field.name }}" value="{{ field.value|default('') }}" class="form-control {{ field.class }}" placeholder="{{ field.getPlaceholder()|default('') }}" id="{{ field.id }}" {{ field.getDataAttributeString()|raw }}>
    </div>
    {% if field.errors|length>0 %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
    <script type="text/javascript">
        $(function(){
            $("#{{ field.id }}").spectrum({
                preferredFormat: "rgb",
                flat: true,
                showInput: true,
                showAlpha: false,
                clickoutFiresChange: true
            });
        })
    </script>
{% endmacro %}