{% macro render(field) %}
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center">N/A</th>
                <th style="text-align: center">Strongly disagree</th>
                <th style="text-align: center">Disagree</th>
                <th style="text-align: center">Neither agree nor disagree</th>
                <th style="text-align: center">Agree</th>
                <th style="text-align: center">Strongly Agree</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in range(0,5) %}
                    <td style="text-align: center">
                        <input type="radio" name="{{ field.name }}" value="{{ i }}" {{ (field.value == i ? 'checked="checked"' : '') }} class="{{ field.class }}" id="{{ field.id }}_{{ i }}" {{ field.dataString|raw }} {{ field.getDataAttributeString()|raw }}>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endmacro %}