{% macro render(field) %}
    <input
            title="{{ field.label }}"
            placeholder="{{ field.placeholder }}"
            name="{{ field.name }}"
            id="{{ field.id }}"
            class="form-control {{ field.class }}"
            maxlength="{{ field.maxLength }}"
            type="number"
            step="{{ field.getStep() is null ? 'any' : field.getStep() }}"
            {% if field.getMin() not is null  %} min="{{ field.getMin() }}"
            {% if field.getMax() not is null  %} max="{{ field.getMax() }}"
            value="{{ field.value }}"
            {{ field.getDataAttributeString() }}
    >

    {% if field.errors|length>0 %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
{% endmacro %}